img {
    height: 200px;
    width: 100%;
}

.top_banner {
    border: #000000 3px outset;
    width: 100%;
}

.content {
    padding-top: 50px;
}

#banner_buttons {
    text-align: center;
}

.satire_button {
    display: inline-block;
    background-color: #ff0000;
    margin: 20px;
    margin-right: 0px;
    text-align: center;
    border: 2px solid #000000;
}

.satire_button a h2 {
    margin: 5px;
}

.banner_button {
    display: inline-block;
    background-color: #991616;
    margin: 20px;
    margin-right: 0px;
    text-align: center;
    border: 2px solid #000000;
}

.banner_button a h2 {
    margin: 5px;
    color: #ffffff;
}

h1 {
    font-family: Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
