.twitter-timeline {
  height:500px;
  width:30%;
}

#twitter-timeline {
  height:500px;
  width:30%;
}

h1 {
    font-family: Verdana, sans-serif;
}

.category {
    font-family: Arial, sans-serif;
}
