img {
    height: 200px;
    width: 100%;
}

.top_banner {
    border: #000000 3px outset;
}

.banner_button {
    float: left;
}

h1 {
    font-family: Verdana, sans-serif;
}

.category {
    font-family: Arial, sans-serif;
}

.category h2 a {
    color: inherit;
}
