img {
    height: 200px;
    width: 100%;
}

.top_banner {
    border: #000000 3px outset;
}

.banner_button {
    background-color: #991616;
    margin: 20px;
    height: 50px;
}

.banner_button {
    text-align: center;
}

h1 {
    font-family: Verdana, sans-serif;
}

.category {
    font-family: Arial, sans-serif;
}

.category h2 a {
    color: inherit;
}
